<template>
  <div>
    <button
      class="back"
      @click="navigateBack"
    >
      Back
    </button>
    <button
      class="refresh"
      :disabled="loading"
      @click="fetchComments"
    >
      Refresh
    </button>
    <div class="original-post">
      <template v-if="!loading && link">
        <a
          v-if="!link.isText"
          :href="link.url"
          class="url"
        >{{ link.url }}</a>
        <!-- eslint-disable vue/no-v-html -->
        <!-- the html rendered by reddit is supposedly secure -->
        <div
          v-else
          class="self-text"
          v-html="link.textHtml"
        />
        <!-- eslint-enable vue/no-v-html -->
      </template>
    </div>
    <div
      v-if="loading"
      class="comments-placeholder"
    >
      Loading comments...
    </div>
    <comments-tree
      v-else
      :comments="comments"
    />
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import CommentsTree from '@/components/CommentsTree'

export default {
  components: {
    CommentsTree
  },
  data: () => ({
    loading: false
  }),
  computed: {
    ...mapState({
      link (state) {
        const linkId = this.$route.params.id
        return state.links.entities[`t3_${linkId}`]
      },
      comments (state) {
        const link = this.$route.params.id
        if (!state.comments.linkIndex[`t3_${link}`]) {
          return []
        }
        return state.comments.linkIndex[`t3_${link}`].map(id => state.comments.entities[id])
      }
    }),
    sub () {
      return this.$route.params.sub.toLowerCase()
    }
  },
  mounted () {
    if (!this.comments.length) {
      this.fetchComments()
    }
  },
  methods: {
    ...mapActions(['FETCH_COMMENTS']),
    fetchComments () {
      this.loading = true
      this.FETCH_COMMENTS({
        link: this.$route.params.id,
        sub: this.sub
      })
        .then(() => { this.loading = false })
    },
    navigateBack () {
      this.$router.push({ name: 'posts', params: { sub: this.sub } })
    }
  }
}
</script>

<style>

</style>
