<template>
  <div>
    <h2 class="subreddit-name">
      r/{{ title }}
    </h2>
    <button
      class="refresh"
      :disabled="loading"
      @click="refresh"
    >
      Refresh
    </button>
    <div
      v-if="loading"
      class="placeholder"
    >
      Loading...
    </div>
    <post-list
      v-else
      :posts="links"
    />
  </div>
</template>

<script>
import PostList from '@/components/PostList'
import { mapState, mapActions } from 'vuex'
export default {
  components: {
    PostList
  },
  data: () => ({
    loading: false
  }),
  computed: {
    ...mapState({
      links (state) {
        const sub = this.$route.params.sub.toLowerCase()
        if (!state.links.subredditIndex[sub]) {
          return []
        }
        return state.links.subredditIndex[sub].map(id => state.links.entities[id])
      }
    }),
    title () {
      return this.$route.params.sub
    }
  },
  watch: {
    '$route.params' (to, from) {
      this.fetchIfNeeded()
    }
  },
  mounted () {
    this.fetchIfNeeded()
  },
  methods: {
    ...mapActions(['FETCH_LINKS']),
    fetchLinks (invalidate) {
      this.loading = true
      this.FETCH_LINKS({ sub: this.$route.params.sub, invalidate })
        .then(() => { this.loading = false })
    },
    refresh () {
      this.fetchLinks(true)
    },
    fetchIfNeeded () {
      if (!this.links.length) {
        this.fetchLinks()
      }
    }
  }
}
</script>

<style>

</style>
