<template>
  <div
    :class="$style.comment"
    @click.stop="handleClick"
  >
    <div :class="$style.header">
      {{ comment.author }}
    </div>
    <template v-if="!comment.hidden">
      <!-- eslint-disable vue/no-v-html -->
      <div
        class="content"
        v-html="comment.bodyHtml"
      />
      <!-- eslint-enable vue/no-v-html -->
      <comment
        v-for="child of childComments"
        :key="child.id"
        :class="$style.child"
        :comment="child"
      />
    </template>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'Comment',
  props: {
    comment: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapState({
      childComments (state) {
        const r = this.comment.replies.map(id => {
          return state.comments.entities[id]
        })
        return r
      }
    })
  },
  methods: {
    ...mapActions(['TOGGLE_HIDDEN_COMMENT']),
    handleClick () {
      this.TOGGLE_HIDDEN_COMMENT({ id: this.comment.id })
    }
  }
}
</script>

<style lang="stylus" module>
.comment
  margin 4px
  padding 8px
  background-color #EEE
  border 1px solid #CCC
  .header
    font-weight bold
  .child
    padding-left 32px
</style>
