<template>
  <li>
    <router-link
      :to="{
        name: 'comments',
        params: {
          sub: post.subreddit,
          id: post.id.slice(3), // remove the 't3_' part
          slug: 'slug'
        }
      }"
    >
      <span class="score">{{ post.score }}</span>
      {{ post.title }}
    </router-link>
  </li>
</template>

<script>
export default {
  props: {
    post: {
      type: Object,
      required: true
    }
  }
}
</script>

<style>

</style>
