<template>
  <ul>
    <post-list-row
      v-for="post in posts"
      :key="post.id"
      :post="post"
    />
  </ul>
</template>

<script>
import PostListRow from './PostListRow'
export default {
  components: {
    PostListRow
  },
  props: {
    posts: {
      type: Array,
      required: true
    }
  }
}
</script>

<style>

</style>
