<template>
  <form @submit.prevent="handleSubmit">
    <label>
      Go to r/
      <input
        v-model="value"
        placeholder="vuejs"
        required
      >
    </label>
    <button
      type="submit"
      :disabled="!valid"
    >
      Go
    </button>
  </form>
</template>

<script>
export default {
  data: () => ({
    value: ''
  }),
  computed: {
    valid () {
      return !!this.value.trim()
    }
  },
  methods: {
    handleSubmit () {
      if (!this.valid) {
        return
      }
      this.$router.push({
        name: 'posts',
        params: {
          sub: this.value
        }
      })
    }
  }
}
</script>

<style>

</style>
