<template>
  <div>
    <h1>Vue Reddit</h1>
    <sub-finder />
    <router-view />
  </div>
</template>

<script>
import SubFinder from '@/components/SubFinder'

export default {
  components: {
    SubFinder
  }
}
</script>
